* {
margin:0;
padding:0;
vertical-align:baseline;
}

.link{
	text-decoration: none;
	color: #6c3ca0;
}
.link-menu{
	text-decoration: none;
	color: #fff;
}
.espacamento{padding: 15px 40px 15px 15px;}
.margem{margin:2px 2px 2px 2px;}


/*Celular*/

.col-desk1{width:100%;}
.col-desk2{width:50%;}
.col-desk3{width:33%;}
.col-desk4{width:25%;}   

.btn-bege{	
    text-decoration: none;
    color: #6c3ca0;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    margin:2px 2px 2px 2px;
}
.btn-bege:hover{
    background-color: #ccccb3;		
    border-top-left-radius: 8px;	
    border-top-right-radius: 8px;	
}
.btn-menu{display:none;}
.seta{
    display: scroll;
    position: fixed;
    float: right;
}

/*header*/
header{	
    background-color:#adf4fa;
    background-image: url("img/desenvolvedor.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
header>.divisao{
    height: 5px;
    background: #adad85;
}

/*menu*/
.menu{	
    float: right;
    background-color: rgba(235,235,224,0.6);
    padding: 8px 8px 8px 8px;
    margin: 6.7% 10% 0% 0%;
    border-top-left-radius: 8px;	
    border-top-right-radius: 8px;
}
.menu>a{text-decoration:none;}
.menu-cel{display:none}

.logo{width:300px;}
.banner{width:300px;}
.banner-tab, .logo-cel{display:none;}    

.whatsapp{
    background-color:#50ca5f;
    width: 60px;
    height: 310px;	
    position: fixed;
    right: 0;
    bottom: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-top: 60px;
    padding-left: 10px;
}
.whatsapp:hover{
    background-color:#50ca5f;
    width: 10%;
} 
/*------------Rodapé-----------------*/
footer{
    background-color: #e6e6ff;
    color: #000;
    clear: both;
}
footer>.divisao{
    height: 5px;
    background: #8080ff;
}

